* {
    box-sizing: border-box;
    color: #000;
}
body {
    font-size: 17px;
    background-color: #ccc;
}
table {
    width: 800px;
    border: 1px solid #000;
}
td, th{
    border: 1px solid #000;
    width: 100px;
    height: 30px;
    text-align: center;
}
th {
    color: #fff;
}
table thead {
    background-color: rgb(52, 145, 233);
    color: #fff;
}
tbody tr:hover {
    background-color: rgb(77, 126, 182);
}
tbody {
    background-color: rgb(97, 115, 133);
}
tbody:nth-child(even) {
    background-color: rgb(182, 182, 182);
}